/* src/App.css */
/* src/App.css */


.app {
    display: flex;
    
}

.main-content {
    flex-grow: 1;
    background-color: #f9f9f9;
    padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
      display: none;
  }

  .header {
      justify-content: center;
  }

  .stats-cards {
      grid-template-columns: 1fr;
  }
}
